@model IEnumerable<Registration.Entities.Country>

@{
    ViewBag.Title = "Register";
}

@section scripts{
    <script src="~/Scripts/Account/Register.js"></script>
}

<div ng-app="accountRegister">

    <div ng-controller="RegisterController as register">

        <form name="step1Form" ng-show="register.step == 1" class="form-horizontal" novalidate>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <h2>Step 1</h2>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label for="Login">Login</label>
                </div>
                <div class="col-sm-8">
                    <input type="email" id="login" name="login" ng-model="register.user.login" class="form-control" required />
                    <div ng-messages="step1Form.login.$error" ng-if="register.showStep1Val" ng-cloak>
                        <div ng-message="required">The Login field is required.</div>
                        <div ng-message="email">Login must be a valid email.</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label for="Password">Password</label>
                </div>
                <div class="col-sm-8">
                    <input type="password" id="password" name="password" ng-model="register.user.password" class="form-control" required />
                    <div ng-messages="step1Form.password.$error" ng-if="register.showStep1Val" ng-cloak>
                        <div ng-message="required">The Password field is required.</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label for="ConfirmPassword">Confirm password</label>
                </div>
                <div class="col-sm-8">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="agree" name="agree" ng-model="register.user.agree" value="" />
                            Agree to work for food
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" ng-click="register.goToStep2(step1Form.$valid)" class="btn btn-default">Go to step 2</button>
                </div>
            </div>

        </form>

        <form name="step2Form" ng-show="register.step == 2" ng-cloak class="form-horizontal" novalidate>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <h2>Step 2</h2>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label for="">Country</label>
                </div>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="register.user.countryId" ng-change="register.countryChanged()">
                        <option value="0">Select country</option>
                        @foreach (var country in Model)
                        {
                            <option value="@country.Id">@country.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label for="">Province</label>
                </div>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="register.user.provinceId">
                        <option value="0">{{register.user.countryId == '0' ? 'Please select country first' : 'Select province'}}</option>
                        <option ng-repeat="province in register.provinces" value="{{province.Id}}">{{province.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" ng-click="register.save()" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>

    </div>

</div>
